<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900 text-white">
        <div class="form p-10">
        <form action="/create" method="post">
        <input class="mt-2 block px-5 py-2 w-full rounded-md outline-none  bg-zinc-800" type="text" placeholder="Title of Task" name="title">
        <input class="mt-2 block px-5 py-2 w-full rounded-md outline-none resize-none bg-zinc-800" type="text" placeholder="Description" name="details">
        <input class="mt-3 bg-blue-500 px-5 py-2 rounded-md" type="submit" placeholder="Create Task">
    </form>
    </div>
    <div class="flex gap-3 flex-wrap tasks p-10 py-2">
        <% if(files.length>0){%>
        <%files.forEach(function(val){%>
                <div class="task min-w-72 px-3 py-4 bg-zinc-800 rounded-md">
                    <h1 class="text-white text-2xl tracking-tighter"><%=val%></h1>
                    <div class="flex w-full justify-between items-center mt-3">
                        <a class="text-blue-500 inline-block" href="/file/<%=val%>">Read More</a>
                        <a class="text-blue-500" href="/edit/<%= val%>">Edit File</a>
                        <a class="text-blue-500" href="/delete/<%= val%>">Delete File</a>
                    </div>
                </div>
          <%})%>
        <%}else{%>
            <h3 class="bg-zinc-700">No tasks yet!</h3>
        <%}%>
        </div>
    </div>
    
</body>
</html>